<div>
    <button class="btn btn-outline-primary me-3" (click)="get400Error()">Get 400 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401Error()">Get 401 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404Error()">Get 404 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get500Error()">Get 500 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">Get Validation Errors</button>
    @if(validationError.length>0)
    {
        <div class="row mt-5">
            <ul class="text-danger">
                
                @for (item of validationError; track $index) {
                        <li>{{item}}</li>
                }

                
                
                
            </ul>
        </div>
    }
</div>



